    body{
    font-size: 20px;
    font-family: system-ui;
    margin: 0px;
    padding-top: 50%;    
    background-color: #ffbfd5;
    background-image: url('../images/roblox8.JPG');
    background-position: left -30px;  
    background-blend-mode: multiply;
    animation: myAnimation; 
    animation-duration: 20s;
    animation-iteration-count: infinite;
    } 
     @keyframes myAnimation {
        0% {background-position: right -30px;}
        50% {background-position: left -30px;}
        100%{background-position: right -30px;}
    } 
    .box{
      background: #d7222b;
      padding-top: 5px;
      text-align: center;
      height: 210px;
      min-width: 360px;
      width: 50%;
      border-radius: 10%;
      margin: auto;
    }
    #date{
      height: 30px;
      text-align: center;
      font-weight: lighter;
      background-color: #d74651;
      border-color: #d74651;
      border-radius: 10%;
    }
    ::placeholder{
      font-weight: bolder;
      color: #000000;
      font-size: 10px;
      text-align: center;
    }
    button{
      height: 30px;
      border-color: #d74651;
      border-radius: 5px;
      background-color: #d74651;
    }
    .top{
      background: #d74651;
      padding: 10px;
      margin-top: 20px;
    }
    #message{
      background-color: #d74651;
      border-radius: 50px;
      }
      @media(min-width: 800px){
          body{
              background-repeat: no-repeat;
              background-size: cover;
              background-attachment: fixed;
              background-position: center center;
              padding-top: 20%;
              animation-duration: 5s;
          }
          @keyframes myAnimation {
        0% {background-position: right center;}
        50% {background-position: left center;}
        100%{background-position:right center;}
    } 
          .box{
              background: #d7222b;
              padding-top: 5px;
              text-align: center;
              height: 210px;
              min-width: 360px;
              width: 50%;
              border-radius: 10%;
              margin: auto;
          }
          #message{
              border-radius: 0px;
              padding: 10px;
          }
      }
